 * {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------------HEADER--------------------- */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 30px 30px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F2F2F2; 
    box-shadow: 0 2px 4px -1px #88898C;  
}
/*........... logo.............. */
.logo-container {
    width: 250px;
}
.logo {
    width: 100%;
    min-width: 150px;
    align-items: center;
}
.logo:hover {
    transform: scale(1.1);
    transition: 1s; 
}

/*........... navegador............ */
nav {
    width: 350px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    border-radius: 5px;
}
.menu-item {
    padding: 0 15px;  
    background-color:#BF2431 ;  
    border-color: none;
    border-radius: 1px;
}
.menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
.menu-item:hover {
    transform: scale(1.2);
    transition: 1s;
    background-color:
    #F29544;
}
.menu-item:active {         /*isso aqui não está funcionando, ver porque*/
    transform: scale(1.3);
}

/*...........FORMULÁRIO............ */
.container{
    height: 100vh;
    background: linear-gradient(45deg,  #9E2A2B 0%, #FFE033 100%);
    
}
.fundo{
    height: 100vh;
    background: url(../img/latin-america-logo.svg);
    background-size: 15%;
    opacity: .1;
    background-attachment: fixed;
}

/*........... SOBRE............ */
.sobre{
    background-color: white;
    height: 100vh;
    padding: 15%;
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
}

.sobre h3{
    font-size: 3rem;
    color: #540B0E;
}

.sobre p{
    line-height: 150%;
    
}

.sobre-texto{
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
}

/*........... PLANOS............ */

.planos-container{
    background: linear-gradient(45deg, #540B0E 0%, #9E2A2B 100%);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}

.planos{
    background-color: rgba(255, 251, 251, 0.2);
    border: 1px solid rgb(168, 168, 168);
    color: white;
    min-height: 30vh;
    min-width: 285px;
    border-radius: 10px;
    padding: 20px 40px;
    position: relative;
}

.planos li {
    list-style: square;
}

.cabecalho{
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalho h4{
    font-size: 0.9rem;
}

.planos-container button{
    border-width: 0;
    border-style: none;
    border-radius: 40px;
    width: 15em;
    height: 40px;
    margin: 10px;
    display: none;
    font-weight: bolder;
    position: absolute;
    margin: auto;
    bottom: 15%;
}

.planos-container button:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color:#9E2A2B;
    border: 2px solid white;
    color: white;
}

.planos-container button:active {
    transform: scale(1.1);
    transition: 0.5s;
    background-color:#540B0E;
    border: 2px solid white;
    color: white;
}

@media (min-width: 600px)and (max-width:1200px){
    .planos{
        margin: 0 500px;
    }
}
@media (min-width:1200px){
    .planos{
        min-height: 400px;
        line-height: 200%;
    }
    .planos-container button{
        display: block;
    }
    .sobre{
        background-image: url('../img/elderly-man-using-a-mobile-phone.jpg');
        background-size: cover;
    }
    .sobre-texto{
        margin-left: 60%;
    }
}

/*
main {
    width: 350px;
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(3, 48, 49);
    background-image: url("form-background.jpg");
}

form {
    margin-top: 110px;
}

label {
    color: white;
    font-size: 12px;
    font-weight: 400;
}

input {
    width: 100%;    
    /* border: 0px; */ /*
    border-bottom: 1.5px solid white;
    background-color: inherit;
    margin-bottom: 25px;
    color: white;
}

button {
    margin-top: 90px;
    margin-bottom: 40px;
    width: 100%;
    background-color: inherit;
    color: white;
    border: none;
    text-align: left;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
} */

footer {
    width: 100%;
    bottom: 0;
    /* position: fixed; */
    display: flex;
    justify-content: space-evenly;
    background-color:#9E2A2B;    
}